#About {
  width: 100%;
  height: 100%;
}
.About-company {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.About-company h2 {
  color: rgb(8, 76, 204);
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  padding: 20px 0;
  margin: 0;
  text-shadow: rgb(4, 41, 110) 1px 1px 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.About-line {
  width: 50%;
  height: 4px;
  background-color: #f3af3b;
  position: absolute;
  margin: 0 auto;
  top: 43px;
  left: 0;
  z-index: -1;
  right: 0;
}
.About-company p {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.About-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.About-wrap-col {
  width: calc(25% - 15px);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #fdfbfb, rgba(243, 226, 207, 1));
}
.About-wrap-col:nth-child(odd) {
  background: linear-gradient(180deg, #fdfbfb, rgba(205, 226, 255, 1));
}
.About-wrap-circle:nth-child(even) {
  background: linear-gradient(180deg, #fdfbfb, rgba(205, 226, 255, 1));
}
.About-wrap-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px auto;
  align-items: center;
  background: linear-gradient(180deg, #fdfbfb, rgb(250, 241, 232));
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 185, 150);
}
.About-wrap-circle-icon {
  position: absolute;
  width: 85%;
  height: 85%;
  left: 0;
  border-radius: 50%;
  background-color: #f3af3b;
  right: 0;
  margin: 6px auto;
}
.About-icon {
  margin: auto;
  margin-top: 21%;
  color: #fff;
}
.About-headline h3 {
  color: rgb(36, 36, 36);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}
.About-headline div {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.4;
  padding: 10px 0;
}
.About-top-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
.About-top-service {
  width: calc(33.33% - 15px);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.About-top-service-content {
  padding: 22px 20px 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.About-top-service img {
  transition: 0.5s;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.About-top-service img:hover,
.About-image img:hover {
  transform: scale(1.07);
}
.About-top-service-content h3 {
  font-size: 18px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}
.About-top-service-content p {
  font-size: 14px;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: justify ;
}

.About-social-btn {
  width: 100%;
  max-width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  text-align: center;
  transition: 0.5s;
  background-color: #4b7ef8;
  cursor: pointer;
}

.About-image {
  width: calc(33% - 10px);
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  max-height: 400px;
  display: block;
  object-fit: cover;
}
.About-image:nth-child(1) {
  width: 66.1%;
}
.About-image img {
  transition: .5s;
}

.About-social-btn:hover {
  background-color: rgb(9, 85, 226);
  transform: scale(1.07);
}
