.main-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-wrap:hover .main__row-banner{
  transform: scale(1.1);
}
.Securitydevices-container h2 {
  font-size: 33px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
  color: rgb(8, 76, 204);
  text-shadow: rgb(42, 102, 215) 1px 1px 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.Security-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-between;
}
.Security-wrap-col {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  border-radius: 12px;
  padding: 10px 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.Security-wrap-col-info {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Security-wrap-description h2 {
  letter-spacing: 1px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
  color: #000;
  text-shadow: rgb(2, 7, 17) 1px 1px 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Security-wrap-description h2::after {
  content: "";
  position: absolute;
  width: 40%;
  left: 3px;
  height: 2px;
  top: 90%;
  background-color: #4b7ef8;
}
.Security-wrap-description {
  width: 100%;
  flex-direction: column;
  position: relative;
}
.Security-social {
  width: calc(50% - 10px);
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  text-align: center;
  transition: 0.5s;
  background-color: #4b7ef8;
  cursor: pointer;
  margin: 10px 0;
}
.Security-social-btn-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  text-shadow: rgb(4, 41, 110) 1px 1px 1px;
}
.Security-social-btn:hover,
.Security-social:hover {
  background-color: rgb(9, 85, 226);
  transform: scale(1.07);
}

.Security-icon {
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}
.Security-specifications {
  width: calc(50% - 10px);
}
.Security-wrap-item li {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  height: 30px;
  margin-bottom: 5px;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
}
.Security-item-list {
  border: 1px solid #e0e0e0;
  height: 30px;
  color: #000;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
}
/* responsive */
@media only screen and (max-width: 1440px) {
  .main-wrap {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .Security-wrap-col {
    width: 100%;
  }
  .Security-specifications {
    width: calc(50% - 4px);
  }
  .Security-wrap-col .slick-slide img {
    height: 356px;
    object-fit: initial;
  }
}
@media only screen and (max-width: 767px) {
  .Security-wrap-col {
    flex-direction: column;
  }
  .Security-wrap-description{
    padding: 0;
  }
  .main-wrap
   {
    padding: 0.75rem;
    flex-direction: column;
  }
  .main-col-1 {
    width: 100%;
    order: 1;
  }
  .main-col-2 {
    width: 100%;
  }
  .Security-social {
    margin: 10px auto;
  }
  .Security-wrap-description h2 {
    font-size: 20px;
  }
 

}
@media only screen and (max-width: 425px) {
  .Security-wrap-col .slick-slide img {
    height: 300px;
  }
  .Security-item-list,
  .Security-wrap-item li {
    font-size: 9px;
  }
 
}
