.carousel .slide img {
  height: 340px;
}

@media only screen and (max-width: 767px) {
  .product-detail {
    overflow: scroll;
    height: 650px;
  }
  .product-detail-item {
    flex-direction: column;
  }
  .product-detail-item .carousel-root {
    width: 100%;

  }
 
}
